@use '../abstracts' as *;

.about {
  padding: 90px 0;
  text-align: center;

  &-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  &-content {
    margin: 15px 0 16px;
    line-height: 1.5;
  }

  .img-box {
    margin: 45px 0;
    img {
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }

  .more-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 45px;
    margin-top: 15px;
    border: 1px solid $primary;
    border-radius: 4px;
    color: $white;
    background-color: $primary;
    text-transform: uppercase;
  }

  @include responsive(M) {
    &-title {
      font-size: 32px;
    }

    .img-box {
      img {
        max-width: 510px;
      }
    }
  }

  @include responsive(D) {
    .img-box {
      img {
        max-width: 697.5px;
      }
    }
  }
  @include responsive(W) {
    .img-box {
      img {
        max-width: 855px;
      }
    }
  }
}
