@use '../abstracts' as *;

%button-base {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $white;
  background-color: $pink;
  border-radius: 8px;
  text-transform: uppercase;
}

.primary-btn {
  @extend %button-base;
}

.btn-46 {
  height: 46px;
  padding: 0 55px;
}

.btn-40 {
  height: 40px;
}

// circle btn

%circle-base {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  font-size: 16px;
  border-radius: 50%;
}

.circle-btn {
  @extend %circle-base;
}

.btn-point {
  color: $white;
  background-color: $point;
}
