@use '../abstracts' as *;

* {
  margin: 0;
  font-family: $font-main;
  box-sizing: border-box;
}

html {
  font-family: $font-main;
}

body {
  font-family: $font-main;
}

h1,
ul {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

a,
button {
  cursor: pointer;
}

button {
  padding: 0;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}
